---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0] || ""}`;
---

<!-- biome-ignore lint/a11y/useAnchorContent: slot provides content at build time -->
<a
  aria-current={isActive ? "page" : undefined}
  class:list={[
    "text-text-light transition-colors duration-200 hover:text-accent",
    { "text-text": isActive },
    className,
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
